@model MenuCategoryViewUpdate

@{
    ViewData["Title"] = "Editar Menu Categoria";
}





    <h4>Editar Menu Categoria</h4>
<hr />
<div class="row">
    <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input type="hidden" asp-for="CategoryId" />
                <input type="hidden" asp-for="BusinessId" />
         
            <div class="form-group mt-3">
                <ejs-textbox id="CategoryName" placeholder="Nombre de la categoria" value="@Model.CategoryName" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
          
           
            <div class="form-group mt-3 d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Voler a la lista</a>
                <button type="submit" class="btn btn-primary">Actualizar </button>
            </div>
                
          
        </form>
    </div>
</div>



