@model LoginViewModel; 
@{
    Layout = null;
}

<!DOCTYPE html>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.1.35/bootstrap5.css" />

<script src="https://cdn.syncfusion.com/ej2/25.1.35/dist/ej2.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="container"> 

      <form asp-controller="Access" asp-action="Login" method="post">
            <h1>Login</h1>
            <div class="form-group mt-3">
               <ejs-textbox type="email" placeholder="Email" id="Email" value="correo2@gmail.com"></ejs-textbox>    
            </div>
            <div class="form-group mt-3">
               <ejs-textbox type="password" placeholder="Contraseña" value="1234" id="Password"> </ejs-textbox>
            </div>

            <div class="form-group mt-3 d-flex justify-content-between">
                <div>
                    <input type="checkbox" asp-for="KeepLogin" />
                    <span>
                        Mantener Sesión
                    </span>
                </div>

            <button class="btn btn-primary" type="submit">Login</button>
            </div>

            @if (ViewData["ValidateMessage"] != null)
            {
                <br />
                <br />
                <label>@ViewData</label>
            }
    </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="_framework/blazor.server.js"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>
  
    <ejs-scripts></ejs-scripts>
</body>
</html>
