@using Syncfusion.Blazor


@model List<UserViewModel>
@{
    ViewData["Title"] = "Users Page";
   
}

    
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
          
   
    
    <div>
        <a class="btn btn-primary" asp-action="Create" >Agregar Usuario</a>
        
    </div>
    
    <ejs-grid id="Grid" dataSource="@Model" toolbar="@(new List<string>() {"Search" })" allowFiltering="true" gridLines="None" >
      
    
        <e-grid-columns>
            <e-grid-column headerText="Id" field="UserId"  ></e-grid-column>
            <e-grid-column headerText="Nombre" field="FirstName"> </e-grid-column>
            <e-grid-column headerText="Apellido" field="LastName"></e-grid-column>
            <e-grid-column headerText="Correo" field="Email"></e-grid-column>
            <e-grid-column headerText="Rol" field="UserType"></e-grid-column>
            <e-grid-column headerText="Negocio" field="Business"></e-grid-column>
            <e-grid-column headerText="Acciones" template="#actionColTemplate"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

        </div>
        

    <script id="actionColTemplate" type="text/x-template">
        <div class="d-flex flex-row justify-content-evenly">
            <a class="btn btn-sm btn-primary " href="/Users/Edit/${UserId}" >
                <i class="fa-solid fa-pen  fa-lg"></i>
            </a>
    <a class="btn btn-danger ml-2" onclick="ConfirmarEliminacion(${UserId})">
               <i class="fa-solid fa-trash fa-lg"></i>
            </a>
        </div>
</script>


@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
<script>
    function ConfirmarEliminacion(url) {
        
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#808080',
            confirmButtonText: '¡Sí, bórralo!',
            cancelButtonText: 'Cancelar'
        })
            .then((willDelete) => {
                if (willDelete) {
                    const urlst = `/Users/Delete/${url}`
                    fetch(urlst, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('La petición no fue exitosa');
                            }
                            Swal.fire("Se ha Borrado el Usuario Con exito")
                                .then(() => {
                                    
                                    window.location.reload();
                                });
                        })
                        .catch(error => {
                            console.error('Error al eliminar el usuario:', error);
                        });

                    
                }
            });
    }
</script>





